/* Todos los elementos de la página */
* { font: 1em/1.3 Arial, Helvetica, sans-serif; }

/* Todos los párrafos de la página */
p { color: #555; }

/* Todos los párrafos contenidos en #primero */
#primero p{ color: #336699; }

/* Todos los enlaces la página */
a { color: #CC3300; }

/* Los elementos "em" contenidos en #primero */
#primero em{ background: #FFFFCC; padding: .1em; }

/* Todos los elementos "em" de clase "especial" en toda la página */
em.especial{ background: #FFCC99; border: 1px solid #FF9900; padding: .1em; }

/* Elementos "span" contenidos en .normal */
.normal span{ font-weight: bold; }