.pregunta{
    background-color: #ffff00;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}


.respuesta{
    border-width: 1px;
    border-style: dashed;
    border-color: #000000;
}

.codigofuente{
    font-size: 12px;
    background-color: #ffffcc;
    border-width: 1px;
    border-style: dotted;
    border-color: #ffaa00;
    padding: 20px;
}

p{
    background-color: #ffffaa;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff0000;
}

