*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* h1,h2,h3{
    color: #8A8E27;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
} */


p span{
    color: red;
}


